

  li{
    width: 200px;
    height: 50px;
    border: 1px solid#2196F3;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px #d3d3d3;
  }

  .over{
    border: 3px solid#2196F3;
  }